body {
    background-color: #e0e0e2;
}

h1 {
    color: #721817;
}

h2 {
    color: #721817;
}

.center-text {
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 span.new {
    color: #fa9f42;
    font-size: 0.75em;
}

div.center-text #copyright {
    font-size: 0.75em;
    padding-top: 12px;
}
